
@import "partials/settings";
@import "partials/nav";
@import "partials/footer";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.location {
    background-color: #EAEAEA;
    text-align: center;
    padding-block: 20px;
    font-weight: bold;
}

.reservation {

    &__title {

        margin: 30px;
        @media (min-width:1024px) {
            font-size: 2.5rem;
            font-weight: bolder;
        }
    }

    &__content {
        margin: 25px;
    }
    
    display: flex;
    flex-direction: column;
    // justify-content: center;
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom:20px;

    &__button {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

.tutorial{
    padding-inline: 15px;
    
        &__container {
            
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 30px;
            
            @media (min-width: 1024px) {
                flex-direction: row;
            }
            
            &__stage {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #F6F6F6;
            border-radius: 15px;
            width: 300px;
            height: 50px;
            margin: auto;
            padding: 10px 0 10px 0;
            margin-block: 20px;
            box-shadow: 2px 8px 15px #dfdfdf;

            &__logo {
                position: absolute;
                transform: translateX(-40px);
            }
            #phone{
                transform: translateX(-32px);
            }
            #phone-txt {
                position: relative;
                left: 7.5px;
            }
            &__number {
                position: absolute;
                transform: translateX(-150px);
                border: 1px solid;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                background-color: #9356DC;
                color: white;
            }
        }
    }
}

.restaurants, .tutorial {

    @media (min-width: 1024px) {
        width: 994px;
        margin-inline: auto;
    }
    
}

.restaurants {
    padding-top: 12px;
    padding-inline: 15px ;
    padding-bottom: 20px;
    background-color: #F6F6F6;
   box-shadow: #F6F6F6 -207.8px 0px, #F6F6F6 207.8px 0px;

}

.restaurants__container {

    

    display: flex;
    flex-direction: column;
    @media (min-width: 665px) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        &__card {
            width: 48%;
        }
    }
    a {
        text-decoration: none;
        color:black;
    }
}

.card {

    background-color: white;
    height: 15rem;
    border-radius: 20px;
    margin-block: 17px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    position: relative;

    .card-image {
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
    }

    .card-content {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        .card-txt {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-bottom: 5px;

            h3 {
                margin-bottom: 0;
            }

            p{
                margin-top: 5px;
            }
        }
        .card-new {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #99E2D0 ;
            text-align: center;
            width: 80px;
            height: 29px;
            line-height: 29px;
            color: #008766;
            font-weight: bold;
            font-size: .8rem;
            margin: 18px;
            border-radius: 3px;

        }
        .card-like {
            margin-block: auto;
            margin-right: 20px;
            
            input[type="checkbox"]:checked + label {

                .liked {
                    display:block;
                    animation: check 0.5s normal;
                    top: 200px;
                }
    
                .unliked {
                    opacity: 0%;
                }
            }

            // @for $i from 1 through 4 {

            //     #like#{$i}:checked + #label#{$i} {

            //         .liked {
            //             display:block;
            //             animation: check 0.5s normal;
            //             top: 200px;
            //         }
    
            //         .unliked {
            //             opacity: 0%;
            //         }
            //     } 
            // }


        }
    }
}

