
@import "partials/settings";
@import "partials/nav";
@import "partials/footer";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#loading-control:checked + label {
    display: none;
}


.loading {
    animation: load-display 3s forwards;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

    // background-color: black;
    left:0;
    top:0;
    width:100%;
    height:100%;

    z-index:300;

    &__cube {
        position: absolute;
        margin: auto;
        top: 150px;
        right: 50px;

        &__logo {
            width: 100px;
        }

        &__txt {
            font-size: 1.1rem;
        }

        position:relative;
        
        div {
            position: absolute;
            width: 120px;
            height: 120px;
            border: 1px solid #ccc;
            background: rgba(255,255,255,0.8);
            box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
            text-align: center;
            line-height: 120px;
            font-size: 100px;
        }

        @media (hover:hover) {
            div:hover {
                background-color: #003A68;
            }
        }

        .face1 { -webkit-transform: translateZ(60px);                                }
        .face2 { -webkit-transform: rotateY(90deg) translateZ(60px);                 }
        .face3 { -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);  }
        .face4 { -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px); }
        .face5 { -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px); }
        .face6 { -webkit-transform: rotateX(-90deg) translateZ(60px);                }

        -webkit-animation-name: spincube;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: initial;
        -webkit-animation-duration: 3s;
        -webkit-transform-style: preserve-3d;
        -webkit-transform-origin: 60px 60px 0;

    }
    
    @media (hover:hover) {
        &__cube:hover {
            div {
                width: 240px;
                height: 240px;
                line-height: 240px;
            }

            .face1 { -webkit-transform: translateZ(120px);                                }
            .face2 { -webkit-transform: rotateY(90deg) translateZ(120px);                 }
            .face3 { -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(120px);  }
            .face4 { -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(120px); }
            .face5 { -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(120px); }
            .face6 { -webkit-transform: rotateX(-90deg) translateZ(120px);                }

            -webkit-transform-origin: 120px 120px 0;

        }
    }
}

@-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(90deg) rotateX(90deg);             }
    83%      { -webkit-transform: rotateX(90deg);                            }
}

@keyframes load-display {
    from {
        // opacity: 1;
    }

    98% {
        max-height: 100%;
        width: 100%;
        
        opacity: 1;
    }

    99% {
        max-height: 100%;
        width: 100%;
        opacity: 0;
    }

    to {
        max-height: 0;
        width: 0;
       
        opacity: 0;
    }
}



.location {

    &__icon {
        margin-right: 8px;
        transform: translateY(2px);

    }
    background-color: #EAEAEA;
    text-align: center;
    padding-block: 20px;
    font-weight: bold;
}

.reservation {

    &__title {

        margin: 30px;
        @media (min-width:1024px) {
            font-size: 2.5rem;
            font-weight: bolder;
        }
    }

    &__content {
        margin: 25px;
    }
    
    display: flex;
    flex-direction: column;
    // justify-content: center;
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom:20px;

    &__button {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

.tutorial{
    padding-inline: 15px;
    
        &__container {
            
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 30px;
            
            @media (min-width: 1024px) {
                flex-direction: row;
            }
            
            &__stage {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #F6F6F6;
            border-radius: 15px;
            width: 300px;
            height: 50px;
            margin: auto;
            padding: 10px 0 10px 0;
            margin-block: 20px;
            box-shadow: 2px 8px 15px #dfdfdf;

            &__logo {
                position: absolute;
                transform: translateX(-40px);
            }
            #phone{
                transform: translateX(-32px);
            }
            #phone-txt {
                position: relative;
                left: 7.5px;
            }
            &__number {
                position: absolute;
                transform: translateX(-150px);
                border: 1px solid;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                background-color: #9356DC;
                color: white;
            }
        }
    }
}

.restaurants, .tutorial {

    @media (min-width: 1024px) {
        width: 994px;
        margin-inline: auto;
    }
    
}

.restaurants {
    padding-top: 12px;
    padding-inline: 15px ;
    padding-bottom: 20px;
    background-color: #F6F6F6;
   box-shadow: #F6F6F6 -207.8px 0px, #F6F6F6 207.8px 0px;

}

.restaurants__container {

    

    display: flex;
    flex-direction: column;
    @media (min-width: 665px) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        &__card {
            width: 48%;
        }
    }
    a {
        text-decoration: none;
        color:black;
    }
}

.card {

    background-color: white;
    height: 15rem;
    border-radius: 20px;
    margin-block: 17px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    position: relative;

    
    .card-image {
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
    }

    .card-content {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        .card-txt {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-bottom: 5px;

            h3 {
                margin-bottom: 0;
            }

            p{
                margin-top: 5px;
            }
        }
        .card-new {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #99E2D0 ;
            text-align: center;
            width: 80px;
            height: 29px;
            line-height: 29px;
            color: #008766;
            font-weight: bold;
            font-size: .8rem;
            margin: 18px;
            border-radius: 3px;

        }
        .card-like {
            margin-block: auto;
            margin-right: 20px;

            input[type="checkbox"] {
                opacity: 0;
                position: absolute;
            }
            
            input[type="checkbox"]:checked + label {

                .liked {
                    animation: check 0.5s normal;
                    top: 202.5px;
                    right: 20.5px;
                }
    
                .unliked {
                    opacity: 0%;
                }
            }


            input[type="checkbox"]:not(:checked) + label {

                .liked {
                    top: 202.5px;
                    right: 20.5px;
                    transform: scale(0);
                    
                    transition: transform .5s ease-in-out;
                }
 
            }

            @media (hover:hover) {
                input[type="checkbox"]:not(:checked):not(:focus) + label:hover {
                    
                    .liked {
                        transform: scale(1);
                        opacity: 100%;
                    }
                    
                    .unliked {
                        animation: disappear .5s forwards;
                    }
                }
            }

            
            @keyframes disappear {


                50% {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }                
            }
            

          
            // @for $i from 1 through 4 {

            //     #like#{$i}:checked + #label#{$i} {

            //         .liked {
            //             display:block;
            //             animation: check 0.5s normal;
            //             top: 200px;
            //         }
    
            //         .unliked {
            //             opacity: 0%;
            //         }
            //     } 
            // }


        }
    }
}

