
@import "partials/settings";
@import "partials/nav";
@import "partials/footer";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.menu {
    
    
    &__image {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
    
    &__content {
        
     
        transform: translateY(-50px);
        box-shadow: 0px 50px 0px #F6F6F6;
        border-radius: 40px 40px 0 0;
        background-color: #F6F6F6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        
        &__title {
            font-family: 'Shrikhand', cursive;
            font-size: 1.5rem;
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;

            input[type="checkbox"]:checked + label {
                .like {
                    display:block;
                    animation: check 0.5s normal;
                }

                .heart {
                    opacity: 0%;
                }
            }
            

            h1 {
                flex-shrink: 0;
                margin-right: 1.6rem;
                margin-bottom: 0;
            }
        }

        &__logo {
            margin-top: auto;
        }


        &__form {

            &__type {
                margin-top: 40px;
                margin-left: 10px;
            }

            &__type::after {
                content: "";
                display: block;
                border-top: #99E2D0 3px solid;
                // width: 12%;
                width: 2.7rem;
                margin-top: 0.4rem;
            }
            
            margin-left: 10px;
            font-family: 'Roboto', sans-serif;
            font-size: 0.8rem;
            background-color: #F6F6F6;
            width: 100%;

            
            &__ingredient {
                display: flex;
                flex-direction: column;
                font-weight: lighter;

                input[type="checkbox"] + label {
                    // width: 349px;
                    // width: 100%;
                    // max-width: 100%;
                    cursor: pointer;
                    margin: 10px 20px 10px 10px;
                    height: 90px;
                    padding: 0 10px;
                    background-color: white;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    position: relative;
                    box-shadow: 2px 8px 15px #dfdfdf; 


                    .name {
                        // text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: auto;
                        z-index: 1;
                        // flex-shrink: 0;
                    }

                    .price-check {
                        z-index: 2;
                        display: flex;
                        position: absolute;
                        transform: translateX(83%);
                        right: 10px;
                        transition: right 0.5s ease-in-out;

                        .price {
                            margin-top: 50px;
                            margin-right: 10px;
                            background-color: white;
                            box-shadow: white -12px 0px, white 12px 0px, white 0px -5px;
                        }
    
                        .check {
                          
                            background-color: #99E2D0;
                            display: flex;
                            height: 90px;
                            width: 92px;

                            svg {
                                margin: auto 10px auto 27px;
                            }
                        }
                        
                    }
                  
                }
                
                @media (hover: hover) {

                    input[type="checkbox"]:hover + label {
                        .price-check {
                            right: 86px;
                        }
                    }
                }


                input[type="checkbox"]:checked + label {

                    .name {
                        // trois petits points
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width:62%;
                    }

                    .price-check {
                        right: 86px;
                    }
                }

                .command {
                    width: 186px;
                }
            }
        }
        // ==> &__content
        @media (min-width: 1024px) {

            width: 50%;
            margin-inline: auto;
            padding-inline: 12rem ;
            
            
        }
    }

  
}