
@import "partials/settings";
@import "partials/nav";
@import "partials/footer";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.menu {
    
    
    &__image {
        width: 100%;
    }
    
    &__content {
        transform: translateY(-50px);
        border-radius: 20px 20px 0 0;
        background-color: #F6F6F6;
        
        &__title {
            font-family: 'Shrikhand', cursive;
            font-size: 1.5rem;
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;
        }

        &__logo {
            margin-block: auto;
        }

        &__form {
            font-family: 'Roboto', sans-serif;
            background-color: #F6F6F6;
            &__ingredient {
                display: flex;
                flex-direction: column;
                font-weight: lighter;
                
                input[type="checkbox"] + label {
                }
                
                input[type="checkbox"]:checked + label {
                    background-color: red;
                }
            }
        }
    }

  
}