@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  border: none;
  color: white;
  margin: 30px auto 0 auto;
  font-size: medium;
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: 2px 8px 15px #c2c2c2;
}

.btn:hover {
  opacity: 85%;
  box-shadow: 2px 8px 25px #838383;
}

.heart {
  flex-shrink: 0;
  cursor: pointer;
}

.like {
  display: block;
  position: absolute;
  top: 37.5px;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    filter: opacity(20%);
  }
  75% {
    filter: opacity(50%);
    transform: scale(1.2);
  }
}
@keyframes check {
  75% {
    transform: scale(1.2);
  }
}
@keyframes disappear {
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  max-width: 1440px;
  margin-inline: auto;
}
body main {
  background-color: white;
}

.navbar {
  display: flex;
  margin-block: 1rem;
}
.navbar__home {
  margin-inline: auto;
  transform: scale(0.7);
}
@media (min-width: 1024px) {
  .navbar__home {
    transform: scale(0.8);
  }
}
.navbar__previous {
  position: absolute;
  margin-left: 1rem;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  height: 186px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer svg {
  margin-right: 5px;
}
@media (min-width: 1024px) {
  .footer {
    height: 114px;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 200px;
    align-items: flex-end;
  }
  .footer div {
    margin: 10px;
  }
  .footer__logo {
    position: relative;
    right: -750px;
    top: -2px;
  }
}

#loading-control:checked ~ .loading__cube {
  display: none;
}

#loading-control:checked ~ .loading__progress {
  display: none;
}

#loading-control:checked + label {
  display: none;
}

#loading-control + label {
  position: absolute;
  background-color: rgb(29, 29, 29);
  width: 100%;
  height: 2700px;
  z-index: 300;
  box-shadow: 0px 0px 0px 800px rgb(29, 29, 29);
}

.loading {
  animation: load-display 3s forwards;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}
.loading__progress {
  z-index: 300;
  border: 1px solid #003A68;
  width: 120px;
  height: 10px;
  position: absolute;
  top: 340px;
  border-radius: 25px;
  padding: 2px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px white;
  animation: shadow 3s cubic-bezier(0.32, 0, 0.07, 1);
}
@keyframes shadow {
  to {
    box-shadow: 0px 0px 12px 0px white;
  }
}
.loading__progress__bar {
  width: 8px;
  height: 10px;
  border-radius: 25px;
  background-color: #99E2D0;
  animation: fill 3s cubic-bezier(0.32, 0, 0.07, 1);
  opacity: 80%;
}
@keyframes fill {
  to {
    width: 120px;
  }
}
.loading__cube {
  z-index: 301;
  position: absolute;
  margin: auto;
  top: 150px;
  right: 57px;
  position: relative;
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: initial;
  -webkit-animation-duration: 3s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 60px 60px 0;
}
.loading__cube__logo {
  width: 100px;
}
.loading__cube__txt {
  font-size: 1.1rem;
}
.loading__cube div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 1px solid #005397;
  background: #003A68;
  box-shadow: inset 0 0 20px #005397;
  text-align: center;
  line-height: 60px;
  font-size: 100px;
  font-family: "Shrikhand", cursive;
  color: #99E2D0;
}
.loading__cube div svg {
  position: absolute;
  right: 10px;
  top: 38px;
}
.loading__cube .face1 {
  -webkit-transform: translateZ(60px);
}
.loading__cube .face2 {
  -webkit-transform: rotateY(90deg) translateZ(60px);
}
.loading__cube .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}
.loading__cube .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}
.loading__cube .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}
.loading__cube .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
}

@-webkit-keyframes spincube {
  from, to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(90deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
  }
}
@keyframes load-display {
  70% {
    opacity: 1;
  }
  83% {
    opacity: 0.5;
  }
  84% {
    opacity: 0;
  }
  99% {
    max-height: 100%;
    width: 100%;
  }
  to {
    max-height: 0;
    width: 0;
    opacity: 0;
  }
}
.location {
  background-color: #EAEAEA;
  text-align: center;
  padding-block: 20px;
  font-weight: bold;
}
.location__icon {
  margin-right: 8px;
  transform: translateY(2px);
}

.reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 20px;
}
.reservation__title {
  margin: 30px;
}
@media (min-width: 1024px) {
  .reservation__title {
    font-size: 2.5rem;
    font-weight: bolder;
  }
}
.reservation__content {
  margin: 25px;
}
.reservation__button {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -15px;
}

.tutorial {
  padding-inline: 15px;
}
.tutorial__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .tutorial__container {
    flex-direction: row;
  }
}
.tutorial__container__stage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 15px;
  width: 300px;
  height: 50px;
  margin: auto;
  padding: 10px 0 10px 0;
  margin-block: 20px;
  box-shadow: 2px 8px 15px #dfdfdf;
}
.tutorial__container__stage__logo {
  position: absolute;
  transform: translateX(-40px);
}
.tutorial__container__stage #phone {
  transform: translateX(-32px);
}
.tutorial__container__stage #phone-txt {
  position: relative;
  left: 7.5px;
}
.tutorial__container__stage__number {
  position: absolute;
  transform: translateX(-150px);
  border: 1px solid;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #9356DC;
  color: white;
}

@media (min-width: 1024px) {
  .restaurants, .tutorial {
    width: 994px;
    margin-inline: auto;
  }
}

.restaurants {
  padding-top: 12px;
  padding-inline: 15px;
  padding-bottom: 20px;
  background-color: #F6F6F6;
  box-shadow: #F6F6F6 -207.8px 0px, #F6F6F6 207.8px 0px;
}

.restaurants__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 665px) {
  .restaurants__container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants__container__card {
    width: 48%;
  }
}
.restaurants__container a {
  text-decoration: none;
  color: black;
}

.card {
  background-color: white;
  height: 15rem;
  border-radius: 20px;
  margin-block: 17px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: box-shadow 0.2s ease-in-out;
}
@media (hover: hover) {
  .card:hover {
    box-shadow: 0px 3px 15px #99E2D0;
  }
}
.card .card-image {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
.card .card-content {
  display: flex;
  justify-content: space-between;
}
.card .card-content .card-txt {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 5px;
  position: relative;
  top: -10px;
}
.card .card-content .card-txt h3 {
  margin-bottom: 0;
}
.card .card-content .card-txt p {
  margin-top: 5px;
}
.card .card-content .card-new {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #99E2D0;
  text-align: center;
  width: 80px;
  height: 29px;
  line-height: 29px;
  color: #008766;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 18px;
  border-radius: 3px;
}
.card .card-like {
  margin-block: auto;
  margin-right: 20px;
}
.card .card-like input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.card .card-like input[type=checkbox] + label .unliked {
  position: absolute;
  top: 193px;
  right: 25px;
}
.card .card-like input[type=checkbox] + label .liked {
  top: 193px;
  right: 25px;
}
.card .card-like input[type=checkbox]:checked + label .liked {
  animation: check 0.5s normal;
}
.card .card-like input[type=checkbox]:checked + label .unliked {
  opacity: 0%;
}
.card .card-like input[type=checkbox]:not(:checked) + label .liked {
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
@media (hover: hover) {
  .card .card-like input[type=checkbox]:not(:checked) + label:hover .liked {
    transform: scale(1);
    opacity: 100%;
  }
  .card .card-like input[type=checkbox]:not(:checked) + label:hover .unliked {
    animation: disappear 0.5s forwards;
  }
}

/*# sourceMappingURL=home.css.map */
