@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  border: none;
  color: white;
  margin: 30px auto 0 auto;
  font-size: medium;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 2px 8px 15px #c2c2c2;
}

.btn:hover {
  opacity: 75%;
}

.heart {
  flex-shrink: 0;
  cursor: pointer;
}

.like {
  display: block;
  display: none;
  position: absolute;
  top: 37.5px;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    filter: opacity(20%);
  }
  75% {
    filter: opacity(50%);
    transform: scale(1.2);
  }
}
@keyframes check {
  75% {
    transform: scale(1.2);
  }
}
body {
  margin: 0;
  max-width: 1440px;
  margin-inline: auto;
}
body main {
  background-color: white;
}

.navbar {
  display: flex;
  margin-block: 1rem;
}
.navbar__home {
  margin-inline: auto;
  transform: scale(0.7);
}
@media (min-width: 1024px) {
  .navbar__home {
    transform: scale(0.8);
  }
}
.navbar__previous {
  position: absolute;
  margin-left: 1rem;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  height: 186px;
}
@media (min-width: 1024px) {
  .footer {
    height: 114px;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 200px;
    align-items: flex-end;
  }
  .footer div {
    margin: 10px;
  }
  .footer__logo {
    position: relative;
    right: -700px;
    top: -3px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.location {
  background-color: #EAEAEA;
  text-align: center;
  padding-block: 20px;
  font-weight: bold;
}

.reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 20px;
}
.reservation__title {
  margin: 30px;
}
@media (min-width: 1024px) {
  .reservation__title {
    font-size: 2.5rem;
    font-weight: bolder;
  }
}
.reservation__content {
  margin: 25px;
}
.reservation__button {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tutorial {
  padding-inline: 15px;
}
.tutorial__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .tutorial__container {
    flex-direction: row;
  }
}
.tutorial__container__stage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 15px;
  width: 300px;
  height: 50px;
  margin: auto;
  padding: 10px 0 10px 0;
  margin-block: 20px;
  box-shadow: 2px 8px 15px #dfdfdf;
}
.tutorial__container__stage__logo {
  position: absolute;
  transform: translateX(-40px);
}
.tutorial__container__stage__number {
  position: absolute;
  transform: translateX(-150px);
  border: 1px solid;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #9356DC;
  color: white;
}

@media (min-width: 1024px) {
  .restaurants, .tutorial {
    width: 994px;
    margin-inline: auto;
  }
}

.restaurants {
  padding-top: 12px;
  padding-inline: 15px;
  padding-bottom: 20px;
  background-color: #F6F6F6;
  box-shadow: #F6F6F6 -207.8px 0px, #F6F6F6 207.8px 0px;
}

.restaurants__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .restaurants__container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants__container__card {
    width: 48%;
  }
}
.restaurants__container a {
  text-decoration: none;
  color: black;
}

.card {
  background-color: white;
  height: 15rem;
  border-radius: 20px;
  margin-block: 17px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card .card-image {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
.card .card-content {
  display: flex;
  justify-content: space-between;
}
.card .card-content .card-txt {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 5px;
}
.card .card-content .card-txt h3 {
  margin-bottom: 0;
}
.card .card-content .card-txt p {
  margin-top: 5px;
}
.card .card-content .card-like {
  margin-block: auto;
  margin-right: 20px;
}
.card .card-content .card-like input[type=checkbox]:checked ~ label .liked {
  display: block;
  animation: check 0.5s normal;
  top: 200px;
}
.card .card-content .card-like input[type=checkbox]:checked ~ label .unliked {
  opacity: 0%;
}

/*# sourceMappingURL=home.css.map */
