@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  border: none;
  color: white;
  margin: 30px auto 0 auto;
  font-size: medium;
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: 2px 8px 15px #c2c2c2;
}

.btn:hover {
  opacity: 85%;
  box-shadow: 2px 8px 25px #838383;
}

.heart {
  flex-shrink: 0;
  cursor: pointer;
}

.like {
  display: block;
  position: absolute;
  top: 37.5px;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    filter: opacity(20%);
  }
  75% {
    filter: opacity(50%);
    transform: scale(1.2);
  }
}
@keyframes check {
  75% {
    transform: scale(1.2);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  max-width: 1440px;
  margin-inline: auto;
}
body main {
  background-color: white;
}

.navbar {
  display: flex;
  margin-block: 1rem;
}
.navbar__home {
  margin-inline: auto;
  transform: scale(0.7);
}
@media (min-width: 1024px) {
  .navbar__home {
    transform: scale(0.8);
  }
}
.navbar__previous {
  position: absolute;
  margin-left: 1rem;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  height: 186px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer svg {
  margin-right: 5px;
}
@media (min-width: 1024px) {
  .footer {
    height: 114px;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 200px;
    align-items: flex-end;
  }
  .footer div {
    margin: 10px;
  }
  .footer__logo {
    position: relative;
    right: -750px;
    top: -2px;
  }
}

.menu__image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.menu__content {
  transform: translateY(-50px);
  box-shadow: 0px 50px 0px #F6F6F6;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__content__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
.menu__content__title a {
  text-decoration: none;
  color: black;
}
.menu__content__title input[type=checkbox]:checked + label .like {
  display: block;
  animation: check 0.5s normal;
  top: 30px;
}
.menu__content__title input[type=checkbox]:checked + label .heart {
  opacity: 0%;
}
.menu__content__title input[type=checkbox]:not(:checked) + label .like {
  opacity: 0;
}
.menu__content__title h1 {
  flex-shrink: 0;
  margin-right: 1.6rem;
  margin-bottom: 0;
}
.menu__content__logo {
  margin-top: auto;
}
.menu__content__form {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  background-color: #F6F6F6;
  width: 100%;
}
.menu__content__form__type {
  margin-top: 40px;
  margin-left: 10px;
}
.menu__content__form__type::after {
  content: "";
  display: block;
  border-top: #99E2D0 3px solid;
  width: 2.7rem;
  margin-top: 0.4rem;
}
.menu__content__form__ingredient {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}
.menu__content__form__ingredient #choice1 {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari et Chrome */
}
.menu__content__form__ingredient #choice2 {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari et Chrome */
}
.menu__content__form__ingredient #choice3 {
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari et Chrome */
}
.menu__content__form__ingredient #choice4 {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
}
.menu__content__form__ingredient #choice5 {
  animation: fadein 2.5s;
  -moz-animation: fadein 2.5s; /* Firefox */
  -webkit-animation: fadein 2.5s; /* Safari et Chrome */
}
.menu__content__form__ingredient #choice6 {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari et Chrome */
}
.menu__content__form__ingredient #choice7 {
  animation: fadein 3.5s;
  -moz-animation: fadein 3.5s; /* Firefox */
  -webkit-animation: fadein 3.5s; /* Safari et Chrome */
}
.menu__content__form__ingredient #choice8 {
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari et Chrome */
}
.menu__content__form__ingredient #choice9 {
  animation: fadein 4.5s;
  -moz-animation: fadein 4.5s; /* Firefox */
  -webkit-animation: fadein 4.5s; /* Safari et Chrome */
}
.menu__content__form__ingredient #choice10 {
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari et Chrome */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu__content__form__ingredient__box {
  position: relative;
}
.menu__content__form__ingredient__box input[type=checkbox] ~ .card-box {
  cursor: pointer;
  margin: 10px 20px 10px 10px;
  height: 90px;
  padding: 0 10px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 8px 15px #dfdfdf;
}
.menu__content__form__ingredient__box input[type=checkbox] ~ .card-box .name {
  white-space: nowrap;
  overflow: auto;
  z-index: 1;
}
.menu__content__form__ingredient__box input[type=checkbox] ~ .card-box .name-title {
  display: block;
  margin: 15px 15px 15px 2px;
  font-size: 1rem;
  font-weight: 900;
}
.menu__content__form__ingredient__box input[type=checkbox] ~ .card-box .name-description {
  margin: 15px 15px 15px 2px;
}
.menu__content__form__ingredient__box input[type=checkbox] ~ .card-box .price-check {
  z-index: 2;
  display: flex;
  position: absolute;
  transform: translateX(83%);
  right: 10px;
  transition: right 0.2s ease-in-out;
}
.menu__content__form__ingredient__box input[type=checkbox] ~ .card-box .price-check .price {
  margin-top: 50px;
  margin-right: 10px;
  background-color: white;
  box-shadow: white -12px 0px, white 12px 0px, white 0px -5px;
}
.menu__content__form__ingredient__box input[type=checkbox] ~ .card-box .price-check .check {
  background-color: #99E2D0;
  display: flex;
  height: 90px;
  width: 92px;
}
.menu__content__form__ingredient__box input[type=checkbox] ~ .card-box .price-check .check svg {
  margin: auto 10px auto 27px;
}
.menu__content__form__ingredient__box input[type=checkbox] + label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 40%;
  z-index: 300;
}
@media (hover: hover) {
  .menu__content__form__ingredient__box input[type=checkbox]:hover ~ .card-box .price-check {
    right: 86px;
  }
}
.menu__content__form__ingredient__box input[type=checkbox]:checked ~ .card-box .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 62%;
}
.menu__content__form__ingredient__box input[type=checkbox]:checked ~ .card-box .price-check {
  right: 86px;
}
@media (hover: hover) {
  .menu__content__form__ingredient__box input[type=checkbox]:checked ~ .card-box .price-check .check svg {
    animation: check 0.1s ease-in-out;
  }
}
.menu__content__form__ingredient .command {
  width: 186px;
}
@media (min-width: 1024px) {
  .menu__content {
    width: 50%;
    margin-inline: auto;
    padding-inline: 12rem;
  }
}

/*# sourceMappingURL=menu.css.map */
