.footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 186px;
    a {
        text-decoration: none;
        color: white;
    }
    svg {
        margin-right: 5px;
    }

    @media (min-width: 1024px) {
        height: 114px;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 200px;
        align-items: flex-end;
        div {
            margin: 10px;
        }

        &__logo {
            position: relative;
            right: -750px;
            top: -2px;

        }


    }
}

