.btn {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 25px;
    width: 218px;
    height: 50px;
    border: none;
    color: white;
    margin: 30px auto 0 auto;
    font-size: medium;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 2px 8px 15px #c2c2c2; 
    
}

.btn:hover {
    opacity: 75%;
}

.heart {
    flex-shrink: 0;
    cursor: pointer;
}

.like {
    display:block;
    display: none;
    position: absolute;
    top: 37.5px;
    cursor: pointer;
}


// .heart:active {
//     opacity: 0%;
// }

// .heart:active + .like {
//     display:block;
//     filter: opacity(20%);
//     cursor: pointer;
//     animation: pulse 1000ms infinite;
// }


@keyframes pulse {
    0% {
        filter: opacity(20%);
    }
    75% {
        filter: opacity(50%);
        transform: scale(1.2);
    }
}

@keyframes check {
    0% {
        // filter: opacity(20%);
    }
    75% {
        // filter: opacity(50%);
        transform: scale(1.2);
    }
}


body {
    margin: 0;
    max-width: 1440px;
    margin-inline: auto;

    main {
        background-color: white;
    }
}